<!DOCTYPE html>
<html>
{{ template "head.html" . }}
<body>
<div class="container">
    <div class="row header">
        <div class="col-xs-7 col-sm-offset-1 col-md-offset-2 col-md-6 col-lg-5">
            <span onclick="window.location.href='/'" class="title">wordy links</span>
        </div>
    </div>
    <div class="row about_copy">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1 col-md-offset-2 col-md-8 col-md-7">
            <h3>How does it work?</h3>
            <p>Quickly associate a URL with a set of keywords that you choose.  You can later return to that address using those keywords. Keywords can be anything you'll find memorable. Keyword order matters, but spaces and capitalization don't.</p>

            <h3>Why?</h3>
            <p>Need to get an unwieldy URL between devices or return to a site using simple, memorable words? Most URL shorteners return cryptic links, and other options usually involve bookmarks, sending yourself emails, etc.
            <strong>Wordy Links</strong> requires no accounts, apps or syncing.</p>

            <h3>Are keyword entries deleted?</h3>
            <p>No, but after 30 days of disuse (i.e. you've not loaded them), someone else can associate them with a different URL. This ensures that a large pool of short, common words remains available.</p>

            <h3>More information</h3>
            <p>This site was my first non-trivial <a href="http://golang.org/">Go</a> program. Source code is <a href="https://github.com/kalafut/WordyLinks">available on Github</a>. Feel free to submit issues or comments there.</p>
        </div>
    </div>
</div>
{{ template "ga.html" }}
</body>
</html>
