<!DOCTYPE html>
<html>
{{ template "head.html" . }}
<body data-grid-framework="b3" data-grid-color="blue" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="16">
<div class="container">
    <div class="row header">
        <div class="col-xs-7 col-sm-offset-1 col-md-offset-2 col-md-6 col-lg-5">
            <span onclick="window.location.href='/'" class="title">wordy links</span>
        </div>
        <div class="col-xs-5 col-sm-2 text-right"><a href="about" class="help">About</a></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form method="post" name="new_url" action="save" id="submit_form" class="form-horizontal main-form">
                {{if .SaveSuccess}}
                <div class="form-group">
                    <div id="success_msg" class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-5 col-lg-2 text-center bg-primary success">
                        URL saved
                    </div>
                </div>
                {{end}}
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-md-offset-3">
                        <button type="button" id="save-btn" class="btn {{ .SaveClass }} mode-btn">Save</button>
                        <button type="button" id="load-btn" style="margin-left:1em;" class="btn {{ .LoadClass }} mode-btn">Load</button>
                    </div>
                </div>
                <div id="link-ctrl" class="{{ .LinkErrorClass }} form-group">
                    <label for="url" class="control-label col-sm-2 col-md-offset-1">URL</label>
                    <div class="col-sm-8 col-md-7 col-lg-6">
                        <input id="url" type="text" maxlength="1990" name="url" placeholder="example.com" class="form-control" value="{{ .LinkValue }}" >
                        <span class="control-label help-inline">{{ .LinkErrorMsg }}</span>
                    </div>
                </div>
                <div class="{{ .KeywordErrorClass }} form-group">
                    <label for="keywords" class="control-label col-sm-2 col-md-offset-1">Keywords</label>
                    <div class="col-sm-8 col-md-7 col-lg-6">
                        <input id="keywords" type="text" maxlength="100" name="words" placeholder="memorable keywords like these" class="form-control" value="{{ .KeywordValue }}">
                        <span class="control-label help-inline">{{ .KeywordErrorMsg }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2 col-md-offset-3">
                        <button id="submit_btn" class="btn btn-primary save_toggle">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='{{ .Bust "/static/all.js" }}'></script>


{{ template "ga.html" }}
</body>
</html>

